.clickable-icon.view-header-link-icon {
  display: flex;
  padding: var(--size-2-2);
  margin-right: var(--size-2-3);
  color: var(--text-muted);
  align-self: center;
  cursor: grab;
}

.clickable-icon.view-header-link-icon:active {
  cursor: grabbing;
}

/* Ensure proper icon spacing in header */
.view-header .view-header-icon + .view-header-link-icon {
  margin-left: 2px;
}
